* {
    outline: 1px red dotted;
}
.mainContent {
    padding-top: 30px;
    width: 90%;
    margin: 0px auto;
}
.table-wrapper {
    text-align: center;
    display: block;
    background-color: yellow;
}
.table-wrapper p{
    vertical-align: middle;
    display: inline-block;
    width: 30%;
}
.table-decoration {
    vertical-align: middle;
    width: 30%;
    background-color: aquamarine;
    margin: 0px auto;
    text-align: center;
    display: inline-block;
}
h1 {
    margin: 0px auto;
}
th {
    border: 1px grey;
    border-radius: 1px;
    background-color: lightcoral;
    text-align: center;
}

@media only screen and (max-width: 480px){ /*phone*/
    .col {
        /* we will not display anything with the class .sm-0 if the screen's width is less than 480px */
        /* display: none; */
        background-color: lightyellow;
     }
    button{
        width: 90%;
    }
}@media only screen and (min-width: 481px ) and (max-width: 1040px){ /*tablet*/
    .col {
        /* anything with the class .med-1 will get 25% of the available width if the screen's width is greater than 480px */
        /* width: 25%; */
        background-color: lightblue;
    }
    button{
        width: 40%;
        /* padding: 20%; */
    }
}

@media only screen and (min-width: 1042px){ /*computer screen*/
    .col {
        /* we will not display anything with the class .sm-0 if the screen's width is less than 480px */
        /* display: none; */
        background-color: lightpink;
     }
}
